
html, body, ul, p{
	margin: 0;
	padding: 0;
}

.body-wrapper {
    font-family: 'Montserrat', sans-serif;

}

.content-section {
    padding: 95px 0;
}

.headline {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #898d8e;
    line-height: 1;
    margin-bottom: 30px;
}

.headline__pre {
    margin: 0px;
}
.headline__bold {
    font-size: 24px;
    color: #000000;
    margin: 6px 0px 0px 0px;
    font-weight: 700;
}

.inline {
    display: inline;
}
.green-text {
    color: #00ee26;
}

.white-text {
    color: #ffffff;;
}
.header-phones {
    background-color: #2c2c2e;
    color: #ffffff;
    padding: 13px 0px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-email {
    color: #727677;
}

.header-phone {
    color: #a3a3a6;
}

.header {
    background-color: #ffffff;
    padding: 30px 0px;
    font-size: 14px;
    text-transform: uppercase;
}

.menu {
    margin: 0px;
}
.menu-item {
    list-style-type: none;
    display: inline;
    margin-left: 35px;
}

.menu-item:hover {
    color: #ffaa57;
}

.banner {
    color: #ffffff;
    background-size: cover;
    height: calc(100vh - 140px);
    background-position: 50% 0%;
    min-height: 520px;
    position: relative;
}

.banner .container {
    height: 100%;
}

.banner .container .row {
    height: 100%;
}

.offer {
    height: 100%;
}
.services {
    opacity: 0.7;
    /*height: 75%;*/
    max-height: 100%;
    min-width: 430px;
}

@media (min-width: 992px) {
    .services {
        opacity: 1;
    }
}
.banner-header {
    background-color: #ffaa57;
    padding: 35px 40px;
    text-transform: uppercase;

}
.banner-title {
    font-size: 14px;
}

.banner-subtitle {
    font-size: 24px;
    font-weight: 200;
}

.banner-content {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    /*height: calc(100% - 130px);*/
}

.industry {
    width: 50%;
    max-height: 150px;
    min-height: 125px;
    background-color: #00b3e6;
    position: relative;
}

.industry:hover {
    background-color: #00a5d3;

}

.industry-img {
    position: absolute;
    top: 35px;
    left: 40px;
}

.industry-title {
    position: absolute;
    bottom: 30px;
    left: 40px;
    margin: 0px;
    padding: 0px;

}
.circleandarrow-img {
    bottom: 30px;
    right: 25px;
    position: absolute;
    height: 25px;
    width: 25px;
    background-image: url("images/circleandarrow.png");
}

.view-more {
    position: absolute;
    border-radius: 100px;
    padding: 20px 35px;
    background-color: #00ee26;
    color: #ffffff;
    margin: 0 auto;
    display: block;
}

.about-us {
    text-align: right;
}

.text {
    color: #828a8d;
    font-family: 'Domine', serif;
    font-size: 15px;
    line-height: 2;
}
.about-us-image {
    height: 255px;
    position: relative;
}

.reward-wrapper {
    width: 50%;
    height: 268px;
    background-color: #22a8ec;
    position: absolute;
    top: 66.666%;
    left: 25%;
    border: 6px solid #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
}

.reward {
    margin: 18px;
    border: 1px solid #38bbf0;
    position: relative;
    height: calc(100% - 36px);
    padding-bottom: 30px;

}

.reward-image-wrapper {
    width: 50%;
    position: absolute;
    top: 0%;
    left: 25%;
    right: 25%;
}

.reward-year {
    font-size: 56px;
    position: absolute;
    bottom: 30px;
    margin: 0px;
    width: 100%;
}

.reward-title {
    position: absolute;
    bottom: 30px;
    margin: 0;
    width: 100%;
}

.steps {
    background-color: #e6eef1;
}

.step-image {
    margin-bottom: 30px;
}

.step-number {
    color: #00ee26;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 18px;
}

.step-title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 35px;
}

.step-text {
    font-size: 15px;
    color: #828a8d;
    font-family: 'Domine', serif;
    line-height: 2;
}

.projects {
    /*height: 100vh;*/
    background-color: #ffffff;
}

.projects-row {
    height: 465px;
}

.projects-subrow {
    height: calc(50% - 15px);
}

.space-row {
    height: 30px;
}

.project-wrapper {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    position: relative;
}

.project-wrapper:hover .project-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-title {
    position: absolute;
    top: 20px;
    left: 20px;
    border: 2px solid #ffb441;
    text-transform: uppercase;
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 50px;
    font-weight: 700;
}

.project-item {
    height: 100%;
    width: 100%;
    background-color: #00a5d3;
    opacity: 0.8;
    display: none;
    padding: 15px;

}

.project-heading {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
}

.project-text{
    font-family: 'Domine', serif;
    font-size: 15px;

}

.blog {
    background-color: #e6eef1;
    position: relative;
}

.blog-image-wrapper {
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0px;
    top: 0px;
    background-size: cover;
    background-position: 0% 50%;
    background-repeat: no-repeat;
}

.news-button {
    display: inline;
    border: 2px solid #ffb441;
    text-transform: uppercase;
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 50px;
    float: right;
}

.contacts {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacts__item {
    border: 1px solid #e0ebec;
    font-size: 18px;
    line-height: 1;
    padding: 30px 20px 30px 20px;
    min-width: 290px;
    box-sizing: content-box;
}

.contacts__image-wrapper {
    width: 60px;
    height: 30px;
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
}

.contacts__image {
    width: 100%;
}

.contacts__content {
    display: inline-block;

}

.contacts__title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    /*display: inline;*/
}

.contacts__mail-or-tel {
    font-family: 'Domine', serif;
    margin: 0;
}