
html, body, ul{
	margin: 0;
	padding: 0;
}

.header {
    background-color: aquamarine;
}

.menu-item {
    list-style-type: none;
    display: inline;
    margin-left: 35px;
}

.menu-item:hover {
    color: #ffaa57;
}

.banner {
    color: #ffffff;
    background-image: url("images/baner.jpg");
    background-size: cover;
    height: 100vh;
}

.services {
    opacity: 0.7;
}

@media (min-width: 768px) {
    .services {
        opacity: 1;
    }
}
.banner-header {
    background-color: #ffaa57;
}
.banner-title {
    font-size: 10px;
}

.banner-subtitle {
    font-size: 25px;
}

.banner-content {
    display: flex;
    flex-wrap: wrap;
}

.industry {
    width: 50%;
    background-color: #00b3e6;
    padding: 40px 20px 25px 40px;
}

.industry:hover {
    background-color: #00a5d3;

}

.industry-title {
    display: inline;
    padding-top: 10px;

}
.circleandarrow-img {
    float: right;
}
